<% if post.errors.any? %>
    <ul id="post-form-errors" class="text-red-600">
        <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
